In [14]:
import numpy as np
import pandas as pd
from app import ExoData

In [15]:
import warnings

# Suppress all warnings
warnings.filterwarnings('ignore')

data = ExoData('PSCompPars.csv').transform().to_csv('processed_data.csv')

Index(['pl_name', 'hostname', 'ra', 'dec', 'sy_dist', 'st_rad', 'st_teff',
       'pl_orbsmax', 'pl_orbeccen', 'pl_orbincl', 'pl_rade', 'pl_eqt',
       'pl_orbper', 'st_lum', 'sy_snum', 'disc_year', 'ra_rad', 'dec_rad', 'X',
       'Y', 'Z', 'habitable_zone_inner', 'habitable_zone_outer',
       'habitable_zone_center_au', 'habitable_zone_width_au', 'hz_score',
       'size_score', 'temp_score', 'eccentricity_score', 'habitability_score',
       'snr', 'habitable'],
      dtype='object')

In [4]:
# Define a function to calculate ESmax for a given telescope diameter
def calculate_esmax(telescope_diameter_m, planet_star_distance_au):
    return 15 * (telescope_diameter_m / 6) / planet_star_distance_au

# Define a range of telescope diameters (5 to 15 meters)
telescope_diameters = range(5, 16)

# Create columns in the DataFrame to store characterizable status for each telescope diameter
for D in telescope_diameters:
    # Calculate ESmax for the current telescope diameter
    data[f'esmax_{D}m'] = calculate_esmax(D, data['planet_orbit_semi_major_axis_au'])
    # Determine if the system is characterizable (actual distance <= ESmax)
    data[f'characterizable_{D}m'] = data['star_distance_pc'] <= data[f'esmax_{D}m']

# Show a sample of the columns related to characterizability
data[['pl_name'] + [f'characterizable_{D}m' for D in telescope_diameters] + ['star_distance_pc', 'planet_orbit_semi_major_axis_au']].head()

,pl_name,characterizable_5m,characterizable_6m,characterizable_7m,characterizable_8m,characterizable_9m,characterizable_10m,characterizable_11m,characterizable_12m,characterizable_13m,characterizable_14m,characterizable_15m,star_distance_pc,planet_orbit_semi_major_axis_au
0,11 Com b,False,False,False,False,False,False,False,False,False,False,False,93.1846,1.178
1,11 UMi b,False,False,False,False,False,False,False,False,False,False,False,125.3210,1.530
2,14 And b,False,False,False,False,False,False,False,False,False,False,False,75.4392,0.775
3,14 Her b,False,False,False,False,False,False,False,False,False,False,False,17.9323,2.774
4,16 Cyg B b,False,False,False,False,False,False,False,False,False,False,True,21.1397,1.660

In [5]:
data = pd.read_csv('exoplanet_visualization.csv')
data.head()

,Unnamed: 0,pl_name,hostname,star_ra_deg,star_dec_deg,star_distance_pc,star_radius_solar,star_teff_k,planet_orbit_semi_major_axis_au,planet_orbit_eccentricity,...,star_habitable_zone_inner_au,star_habitable_zone_outer_au,habitable_zone_center_au,habitable_zone_width_au,hz_score,size_score,temp_score,eccentricity_score,habitability_score,snr
0,0,11 Com b,11 Com,185.178779,17.793252,93.1846,13.76,4874.0,1.178,0.238,...,1.340963,1.931858,1.636411,0.295448,0.000000,5.768330e-28,NaN,0.762,NaN,23387.169197
1,1,11 UMi b,11 UMi,229.274595,71.823943,125.3210,29.79,4213.0,1.530,0.080,...,1.486301,2.141239,1.813770,0.327469,0.133444,1.872703e-28,NaN,0.920,NaN,36519.150314
2,2,14 And b,14 And,352.824150,39.235837,75.4392,11.55,4888.0,0.775,0.000,...,1.293340,1.863249,1.578294,0.284955,0.000000,1.612399e-32,NaN,1.000,NaN,66974.426934
3,3,14 Her b,14 Her,242.602101,43.816362,17.9323,0.93,5338.0,2.774,0.373,...,NaN,NaN,NaN,NaN,NaN,6.034861e-30,NaN,0.627,NaN,554.909401
4,4,16 Cyg B b,16 Cyg B,295.465642,50.516824,21.1397,1.13,5750.0,1.660,0.680,...,0.296954,0.427807,0.362381,0.065426,0.000000,1.176911e-34,NaN,0.320,NaN,1889.777214