In [1]:
import numpy as np
import pandas as pd
from transform import ExoData

In [2]:
data = ExoData('PSCompPars_2024.10.05_08.34.19.csv').transform()

c:\Users\kkape\OneDrive\Code\not-a-uranus-explorer\expedition\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\kkape\OneDrive\Code\not-a-uranus-explorer\expedition\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [3]:
len(data [data.snr>5])

4048

In [4]:
# Define a function to calculate ESmax for a given telescope diameter
def calculate_esmax(telescope_diameter_m, planet_star_distance_au):
    return 15 * (telescope_diameter_m / 6) / planet_star_distance_au

# Define a range of telescope diameters (5 to 15 meters)
telescope_diameters = range(5, 16)

# Create columns in the DataFrame to store characterizable status for each telescope diameter
for D in telescope_diameters:
    # Calculate ESmax for the current telescope diameter
    data[f'esmax_{D}m'] = calculate_esmax(D, data['planet_orbit_semi_major_axis_au'])
    # Determine if the system is characterizable (actual distance <= ESmax)
    data[f'characterizable_{D}m'] = data['star_distance_pc'] <= data[f'esmax_{D}m']

# Show a sample of the columns related to characterizability
data[['pl_name'] + [f'characterizable_{D}m' for D in telescope_diameters] + ['star_distance_pc', 'planet_orbit_semi_major_axis_au']].head()

,pl_name,characterizable_5m,characterizable_6m,characterizable_7m,characterizable_8m,characterizable_9m,characterizable_10m,characterizable_11m,characterizable_12m,characterizable_13m,characterizable_14m,characterizable_15m,star_distance_pc,planet_orbit_semi_major_axis_au
0,11 Com b,False,False,False,False,False,False,False,False,False,False,False,93.1846,1.178
1,11 UMi b,False,False,False,False,False,False,False,False,False,False,False,125.3210,1.530
2,14 And b,False,False,False,False,False,False,False,False,False,False,False,75.4392,0.775
3,14 Her b,False,False,False,False,False,False,False,False,False,False,False,17.9323,2.774
4,16 Cyg B b,False,False,False,False,False,False,False,False,False,False,True,21.1397,1.660